*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 4px;
  --font-family: "Mulish", Arial, sans-serif;

  background-color: #f6f6f6;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.box {
  display: grid;
  padding: 65px;
  min-height: 100vh;
}

.container {
  /* Столкнулся с проблемой максимальной и минимальной высоты и ширины
  Пробовал задавать максимально значение и вроде бы всё работает
  пробовал задавать минимальное и начинало всё съезжать */
  max-width: 540px;
  /* По поводу высоты, когда задаю максимально значение высоты
  то контент обрезается до первого элемента
  а при минимальной высоте всё работает, что вызывают у меня путаницу */
  /* Поэтому решил оставить всё в фексированном значении */
  /* height: 620px; */
  border-radius: var(--border-radius);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  position: relative;
  padding: 30px 48px;
  margin: auto;
}

.title {
  color: rgb(15, 15, 15);
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.container__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8ff;
  min-height: 202px;
  --border-color: 0.5;
  border: 1px dashed rgba(73, 62, 168, var(--border-color));
  position: relative;
  border-radius: var(--border-radius);
}

.container__box:hover {
  --border-color: 1;
}

.container__field {
  position: absolute;
  z-index: -1;
}

.icon {
  padding-top: 30px;
  padding-bottom: 25px;
}

.text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.text__description {
  color: rgb(103, 103, 103);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.text__uploading {
  color: rgb(103, 103, 103);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
}

.input_txt {
  width: 100%;
  height: 36px;
  border: 0.5px solid green;

  border-radius: var(--border-radius);
  background: rgb(255, 255, 255);
}

.input_txt:hover {
  border: 0.5px solid rgb(228, 29, 29);
}

.input_txt::placeholder {
  color: rgb(15, 15, 15);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  padding-left: 10px;
}

.warring__txt {
  color: rgb(228, 29, 29);
  font-size: 10px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
}

.margin__txt {
  margin-bottom: 10px;
}

.upload__button {
  border-radius: 4px;
  background: rgb(72, 62, 168);
  width: 445px;
  height: 45px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
/* 0. Так же пробова реализовать drag&drop реализовать через Input, но у меня 
ничего не получилось, т.к. не получалось убрать текс по умолчанию (выберите файл)
и било принято решение верстать из какашекИПалок) */
/* 1. Было сложно отпозицианировать карточку посередине, пришлось создавать отдельный
класс box, что бы его поставить по центру, хотя можно было оптимизировать код, без дополнительного div  */
/* 2. Так же возникли трудности в задавании отступов, которые внутри карточки, пришлось
каждому классу прописывапть отступы справа и слева которые 47-48px, хотя можно было сделать одним движенгием
я пробовал задать общему div отступ через padding left&right но оступы не лепились */
/* Так же не смог поставить иконки внутри Inputov */
